
* {
	font-family: JetBrains Mono;
	font-size: 12px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces {
	margin-right: 8px;
	border-radius: 10px;
	background: #383c4a;
}

#workspaces button {
	color: #7c818c;
	background: transparent;
}

#workspaces button.persistent {
	color: #7c818c;
}

#workspaces button:hover {
	color: #383c4a;
	background: #7c818c;
	border-radius: 10px;
}

#workspaces button.focused {
	color: white;
}

#workspaces button.active {
	color: #eb4d4b;
}

#clock,
#tray,
#network,
#pulseaudio,
#bluetooth,
#language,
#battery,
#backlight,
#window,
#pulseaudio,
#wireplumber,
#cpu,
#memory {
	padding: 0 10px;
	border-radius: 10px;
	color: #ffffff;
	background: #383c4a;
}

#clock {
	margin: 0 10px;
	font-size: 13px;
}

window#waybar.empty #window {
	background-color: transparent;
}

#pulseaudio.muted,
#wireplumber.muted {
	background-color: #90b1b1;
	color: #2a5c45;
}

#temperature.critical {
	background-color: #eb4d4b;
}

#battery.charging {
	color: #ffffff;
	background-color: #26a65b;
}

#battery.warning:not(.charging) {
	background-color: #ffbe61;
	color: black;
}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}
